@charset "UTF-8";
.str0 {stroke:#75C5F0;stroke-width:0.5}
.str1 {stroke:#B8DB7C;stroke-width:0.5}
.str2 {stroke:#C2C1C1;stroke-width:0.7}
.fil0 {fill:none}
.fil1 {fill:#FFF500}
.fil2 {fill:white;fill-rule:nonzero}
