@use './variables' as *;
@use './mixins' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  background-color: $background-color;
  font-family: $font-main;
  font-weight: $font-weight-main;
  color: $primary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  color: inherit;
}

[class*='__container'] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}
