$primary-color: #fff;
$text-color: #a9a9b1;
$decor-color-first: #3d96f4;
$decor-color-second: #fffb26;
$decor-color-third: #3df446;
$decor-color-third-hover: #32e33b;
$background-color: #0d0d11;
$creamy-color: #fffdd0;

$padding-base: 1rem;
$margin-base: 1rem;

$font-weight-main: 300;

$title-size: 2.5rem;

$font-main: 'Poppins', sans-serif;

$shadow-card: 0 4px 8px rgba(0, 0, 0, 0.1);
